@import "tailwindcss";



body {
  background-color: #f5f5f5;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  display: none;
}


.right-top{
  border-top-right-radius: -1000px !important;
}



.dark{
  background-color: black !important;
}


